@font-face {
    font-family: "ySpotLight";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/ySpotLight/ySpotLight.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/ySpotLight/ySpotLight.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/ySpotLight/ySpotLight.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/ySpotLight/ySpotLight.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/ySpotLight/ySpotLight.ttf") format("truetype");
    font-display: swap;
}
.ySpotLight {
    font-family: "ySpotLight";
}